/*============
	Imports
=============*/
@import url(http://fonts.googleapis.com/css?family=Leckerli+One);
/*============
	Imports End
=============*/

html { 
  background: url(../img/bg-img2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body {
	font-family: "Times New Roman", Times, serif;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	height: 100%;
	background-color: transparent;
	color: white;
}

a {

}

h1 {
	font-size: 78px !important;
	font-family: 'Raleway', sans-serif;
	letter-spacing: -4px;
	font-weight: 700px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

p {
	font-size: 16px;
}



.bg-light-brown {
	background-color: #E7E8D1 !important;
}

.bg-olive {
	background-color: #D3CEAA !important;
}

.bg-creme {
	background-color: #FBF7E4 !important;
}

.bg-black {
	background-color: #424242 !important;
}

.bg-red {
	background-color: #8E001C !important;
}



.light-brown-text {
	color: #E7E8D1 !important;
}

.olive-text {
	color: #D3CEAA !important;
}

.creme-text {
	color: #FBF7E4 !important;
}

.black-text {
	color: #424242 !important;
}

.red-text {
	color: #8E001C !important;
}



/* Navbar Stuff */

.new-navbar {
	min-height: 38px;
	min-width: 100%;
	position: fixed;
	border-bottom: 2px solid #687D77;
}

#navbar-straight > a {
	margin-right: 14px;
	font-size: 18px;
	line-height: 35px;
	color: white;
}

#navbar-straight {
	padding-right: 93.5px;
	padding-left: 93.5px;
}

#navbar-straight > a:hover {
	color: #687D77;
}

@media (max-width: 1050px) {
	.new-navbar {
		display: none;
	}
}

.nav-text {
	display: inline;
	font-size: 15px;
}

#navbar-straight > a {
	text-decoration: none;
}

#navbar-straight > a > i {
	font-size: 14px;
}

#social-media-size > i {
	font-size: 20px !important;
}

/* End Navbar Stuff */



/* Hero BG */

.jumbotron {
	background: transparent;
	height: 800px;
}

.vcenter {
	margin-top: 200px;
}

/* End Hero BG */

/* Button */

.btn.btn-custom {
  background-color: #A9112F;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 3px 0 rgb(178, 87, 87);
}

.btn.btn-custom:hover {
  background-color: #BD0C45;
  box-shadow: 0 3px 0 rgb(179, 112, 112);
  transition: all .2s ease-in-out;
}

.btn.btn-custom > i {
  padding-right: 2px;
}

@media (max-width: 767px) {
  .btn.btn-lg.btn-custom {
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
  }
}

/* End Button */

/* Animations */

.flash {
	font-family: times;
	padding-left: 6px;
	position: absolute;
	animation-iteration-count: infinite;
}

/* End Animations */

/* Blog */

.blog-row {
	margin-top: 100px;
	margin-bottom: 200px;
}

.blog-section {
	background: #A9112F;
	border: 3px solid #424242;
	border-radius: 5px;
	margin-bottom: 100px;
}

.blog-info {
	padding: 8px;
	padding-left: 80px;
	font-size: 14px !important;
	padding-bottom: 20px;
}

.blog-heading {
	font-size: 50px !important;
	padding-left: 80px;
	border-bottom: 3px solid white;
}

#wrapper > div > div > div.col-md-8 > div > p {
	font-size: 14px !important;
	padding-right: 20px;
}

.blog-botton {
	margin-top: 30px;
}

.vcenter-div {
	padding-top: 20px;
}

#wrapper > div > div > div.col-md-4.vcenter-div > p > a {
	background: #424242;
	box-shadow: 0 3px 0 rgb(197, 197, 197);
}

#wrapper > div > div > div.col-md-4.vcenter-div > p > a:hover {
	background: #4D4D4D;
	box-shadow: 0 3px 0 rgb(197, 197, 197);
}

#wrapper > div > div > div.col-md-4.vcenter-div > p {
	line-height: 24px;
}
/* End Blog */



/* Pagination */

body > div:nth-child(5) > div > nav > ul > li > a {
	background-color: #424242;
	border-color: #424242;
	font-size: 24px !important;
	color: white;
}

body > div:nth-child(5) > div > nav > ul > li.active > a {
	background-color: #A9112F;
	border-color: #424242;
}

body > div:nth-child(5) > div > nav > ul > li.active > a:hover {
	background-color: #A9112F;
	border-color: #424242;
}

/* End Pagination */



/* Footer */

.footer-blog {
	background-color: #424242;
	min-height: 60px;
	margin-top: 150px;
}

#social-media-size > i {
	font-size: 40px !important;
	padding: 10px 16px 10px 16px;
	color: rgb(169, 17, 47);
}

#social-media-size > i:hover {
	color: #BD0C45;
	transition: all .3s ease-in-out;
}

.copyright-footer {
	background-color: rgb(169, 17, 47);
}

body > div.copyright-footer > div > div > p {
	font-size: 14px !important;
}

/* End Footer */




